    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>cFOS Database</h1>
        <p>c-Fos is one of the most widely studied immediate early genes in the field of neuroscience, which are expressed very soon after different stimuli. By using in situ hybridization and immunostaining technology, the mRNA and protein product of c-Fos can be identified respectively. As the field of brain science has rapidly developed in recent years, scientists desire to understand more functional meaning of neurons, c-Fos still can be the foundation of all functional studies. Currently, there is still not very mature database. Our c-Fos database will provide a good reference for early neuroscience exploration. </p>
        <p>
        <a class="btn btn-lg btn-primary" href="./help.html" role="button">More (Help page)</a>
        </p>
      </div>
    </div>

    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Feature</h1>
		<li>Feature 1: c-Fos data are extracted from the figure legend of original findings,  namely,  the results are supported by original figures, and can be easily traced via publications’ DOI hyperlinks; only c-Fos values  increased at significant confidence level are included.</li>
		<li>Feature 2:  An unified term of brain region is employed, the  detailed relationships  among behavior, brain nuclei, specific active conditions, and their network mappings, can be shown and downloaded.</li>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron">
        <h2>Database Version</h1>
        <li>Release: The Release time</li>
        <li>Artical: The num of aritical include</li>
        <li>Brain Area: The num of brain area</li>
        <li>Behavior: The num of behavior</li>
      </div>
    </div>
