<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>c-Fos DB</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="./css/bootstrap.css"></link>
		
		<script src="./js/jquery-3.4.1.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="./js/bootstrap.js"></script>
		
		<!-- Multi Select -->
		<link rel="stylesheet" href="./css/bootstrap-multiselect.css" type="text/css">
		<script src="./js/bootstrap-multiselect.js"></script>

		<!-- data table -->
<!--         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.css"/>-->
<!--         <script type="text/javascript" src="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.js"></script>-->
		<link rel="stylesheet" href="./css/jquery.dataTables.min.css" type="text/css">
		<script src="./js/jquery.dataTables.min.js"></script>
		
		<!-- echars used to draw network plot -->
		<script src="./js/echarts.min.js"></script>

		<!-- Main -->
		<link rel="stylesheet" href="./css/main.css"></link>
		<!-- <script src="./js/main.js"></script>-->
		<!-- <script src="./js/data.js"></script>-->
	</head>
	<body data-gr-c-s-loaded="true">

		<div class="page-header">
			<h1>c-Fos Database <small>c-Fos database for tracing behavioral activation tree.</small></h1>
		</div>

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/index.html">c-Fos database</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li {{{home_active}}}><a href="/index.html">Home</a></li>
						<li {{{search_active}}}><a href="/search">Search</a></li>
						<!-- <li {{{browser_active}}}><a href="./browser.html">Browser</a></li>-->
						<li {{{download_active}}}><a href="/download">Downloads</a></li>
						<li {{{help_active}}}><a href="/help">Help</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		{{{body}}}

		<div class="jumbotron">
			<div class="container">
				<p>Contact</p>
			</div>
		</div>
	</body>
</html>

